
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<head>

    <!-- CSS here -->
    @*<link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/owl.carousel.min.css">
    @*<link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/flaticon.css">*@
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/slick.css">
    <link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/nice-select.css">
    @*<link rel="stylesheet" href="~/SourceLayoutTrangchu/assets/css/style.css">*@
</head>
<link href="~/Admin/main.css" rel="stylesheet">
<main>
    <!--? slider Area Start -->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">ROG Zephyrus Duo 15</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">RISE TO NEW HORIZONS</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a href="@Url.Action("Laptop","Home")" class="btn hero-btn">Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                        <!-- Asus Laptop pic -->
                        <div class="col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="~/SourceLayoutTrangchu/assets/img/hero/watch.png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">ROG Zephyrus Duo 15</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">RISE TO NEW HORIZONS</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a href="industries.html" class="btn hero-btn">Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                        <!-- Asus Laptop pic -->
                        <div class="col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="~/SourceLayoutTrangchu/assets/img/hero/watch.png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- Hero section end -->
<!-- Features section -->
<section class="features-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="~/img/icons/1.png" alt="#">
                    </div>
                    <h2>Thanh toán nhanh và an toàn</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="~/img/icons/2.png" alt="#">
                    </div>
                    <h2>Sản phẩm tiêu biểu</h2>
                </div>
            </div>
            <div class="col-md-4 p-0 feature">
                <div class="feature-inner">
                    <div class="feature-icon">
                        <img src="~/img/icons/3.png" alt="#">
                    </div>
                    <h2>Miễn phí vận chuyển</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->
<!-- letest product section -->
<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>Sản phẩm gần đây</h2>
        </div>
        <div class="product-slider owl-carousel">
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/Pro P2540UA-XS51.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>35,000,000đ</h6>
                    <p>Laptop ASUS ROG Zephyrus G15 </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">New</div>
                    <img src="~/img/product/TravelMate P259-G2.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>35,000,000đ</h6>
                    <p>Laptop ASUS ROG Zephyrus G15</p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/SPIN3.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>35,000,000đ</h6>
                    <p>Laptop ASUS ROG Zephyrus G15 </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/Rog GL553VE-DS74.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>35,000,000đ</h6>
                    <p>Laptop ASUS ROG Zephyrus G15 </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="~/img/product/X540UA-DM186.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vago giỏ hàng</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>35,000,000đ</h6>
                    <p>Laptop ASUS ROG Zephyrus G15 </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- letest product section end -->
<!-- Product filter section -->
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>Sản phẩm bán chạy</h2>
        </div>
        <ul class="product-filter-menu">
            <li><a href="#">Acer</a></li>
            <li><a href="#">Asus</a></li>
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">MSI</a></li>
            <li><a href="#">DELL</a></li>
            <li><a href="#">HP</a></li>

        </ul>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/OMEN15.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">Giảm giá</div>
                        <img src="~/img/product/Tecra Z40-C-136.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/LIFEBOOKA557.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/acer1.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/PREDATOR G9.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/IDEAPAD510.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/GE73.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="~/img/product/PALION 14.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>Thêm vào giỏ hàng</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>35,000,000đ</h6>
                        <p>Laptop ASUS ROG Zephyrus G15 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-5">
            <button class="site-btn sb-line sb-dark">Xem thêm ...</button>
        </div>
    </div>
</section>
<!-- Product filter section end -->

<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/main.js"></script>




<!-- JS here -->

<script src="~/SourceLayoutTrangchu/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="~/SourceLayoutTrangchu/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/popper.min.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="~/SourceLayoutTrangchu/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="~/SourceLayoutTrangchu/assets/js/owl.carousel.min.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="~/SourceLayoutTrangchu/assets/js/wow.min.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/animated.headline.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="~/SourceLayoutTrangchu/assets/js/jquery.scrollUp.min.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/jquery.nice-select.min.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="~/SourceLayoutTrangchu/assets/js/contact.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/jquery.form.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/jquery.validate.min.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/mail-script.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="~/SourceLayoutTrangchu/assets/js/plugins.js"></script>
<script src="~/SourceLayoutTrangchu/assets/js/main.js"></script>