@model IEnumerable<WebVL.Models.ShoppingCart>

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>


<div class="page-top-info">
    <div class="container">
        <h4>Giỏ hàng</h4>
        <div class="site-pagination">
            <a href="">Trang chủ</a> /
            <a href="">Giỏ hàng</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form class="checkout-form">
                    <div class="cf-title">Địa chỉ giao hàng</div>
                    <div class="row">
                        <div class="col-md-7">
                            <p>*Thông tin người mua</p>
                        </div>
                        <div class="col-md-5">
                            <div class="cf-radio-btns address-rb">
                                <div class="cfr-item">
                                    <input type="radio" name="pm" id="one">
                                    <label for="one">Sử dụng địa chỉ thường dùng của tôi</label>
                                </div>
                                <div class="cfr-item">
                                    <input type="radio" name="pm" id="two">
                                    <label for="two">Thêm địa chỉ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <input type="text" placeholder="Address">
                            <input type="text" placeholder="Address line 2">
                            <input type="text" placeholder="Country">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Zip code">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Phone no.">
                        </div>
                    </div>
                    <div class="cf-title">Phương thức giao hàng</div>
                    <div class="row shipping-btns">
                        <div class="col-6">
                            <h4>Tiêu chuẩn</h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-1">
                                    <label for="ship-1">Miễn phí vận chuyển</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4>Giao hàng vào ngày hôm sau  </h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-2">
                                    <label for="ship-2">$3.45</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cf-title">Thanh toán</div>
                    <ul class="payment-list">
                        <li>Paypal<a href="#"><img src="img/paypal.png" alt=""></a></li>
                        <li>Thẻ<a href="#"><img src="img/mastercart.png" alt=""></a></li>
                        <li>Thanh toán khi nhận hàng</li>
                    </ul>
                    <button class="site-btn submit-order-btn">Xác nhận đơn hàng</button>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Giỏ hàng</h3>
                    <ul class="product-list">
                        @foreach (var item in Model)
                         {
                            <li>
                                <div class="pl-thumb"><img src="~/img/product/@item.Img" alt=""></div>
                                <h6>@item.Name</h6>
                                <p>@item.Price</p>
                            </li>
                         }

                    </ul>
                    <ul class="price-list">
                        <li>Tổng<span>@ViewBag.Total</span></li>
                        <li>Phí giao hàng<span>miễn phí giao hàng</span></li>
                        <li class="total">Total<span>$99.90</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

