@model IEnumerable<WebVL.Models.Order>

@{
    ViewBag.Title = "Xacnhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var chitet = (WebVL.Models.Order)Session["Chitietdonhang"];
}

<h2>Đặt hàng thành công!</h2>
