
@{
    ViewBag.Title = "Xacnhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Đặt hàng thành công!</h2>
<h3> <a href="@Url.Action("Index","Home")"> Mua tiếp </a></h3>
<img class="header-top" src="~/img/PAVILLION_15.jpg" />
<img class="header-top" src="~/img/dell-gaming-laptop.jpg" />